<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rg.nllp.operation.mapper.NllpMapper">

    <!--기초자료토지 목록조회-->
    <select id="findNllpLandList" parameterType="com.rg.nllp.operation.vo.NllpVO" resultType="com.rg.nllp.operation.vo.NllpDVO">
        select count(*) over() as tot_cnt
             , a.sgb_cd
             , a.nllp_acb_key
             , a.nllp_acb_no
             , a.nllp_acb_se_cd
             , a.lgo_cd
             , a.lvy_trgt_nm
             , a.land_ar
             , a.oalp
             , a.oalp_yr
             , a.lotno_road_addr_se_cd
             , a.zip
             , a.stdg_cd
             , trim(a.lotno_bac_addr) || ' ' || trim(a.lotno_daddr) as lotno_al_addr
             , a.mtn_se_cd
             , a.road_nm_cd
             , trim(a.road_nm_bac_addr) || ' ' || trim(a.road_nm_daddr) as road_nm_al_addr
             , a.udgd_yn
             , a.ldcg_cd
             , a.rm_cn
             , to_char(a.updt_date, 'yyyymmdd') as last_updt_date
          from c##chan.tb_nllp_acb a
         where a.sgb_cd = #{sgbCd}
           and a.nllp_acb_se_cd = #{nllpAcbSeCd}
        <if test="nllpAcbNo != '' and nllpAcbNo != null">
           and a.nllp_acb_no = #{nllpAcbNo}
        </if>
        <if test="lgoCd != '' and lgoCd != null">
           and a.lgo_cd = #{lgoCd}
        </if>
        <if test="stdgCd != '' and stdgCd != null">
           and a.stdg_cd = #{stdgCd}
        </if>
        <if test="roadNmCd != '' and roadNmCd != null">
           and a.road_nm_cd = #{roadNmCd}
        </if>
    </select>
    <!--기초자료건물 목록조회-->
    <select id="findNllpBldgList" parameterType="com.rg.nllp.operation.vo.NllpVO" resultType="com.rg.nllp.operation.vo.NllpDVO">
        select count(*) over() as tot_cnt
             , a.sgb_cd
             , a.nllp_acb_key
             , a.nllp_acb_no
             , a.nllp_acb_se_cd
             , a.lgo_cd
             , a.lvy_trgt_nm
             , a.bldg_ar
             , a.oalp
             , a.oalp_yr
             , a.std_amt
             , a.std_yr
             , a.lotno_road_addr_se_cd
             , a.zip
             , a.stdg_cd
             , trim(a.lotno_bac_addr) || ' ' || trim(a.lotno_daddr) as lotno_al_addr
             , a.mtn_se_cd
             , a.road_nm_cd
             , trim(a.road_nm_addr) || ' ' || trim(a.road_nm_daddr) as road_nm_al_addr
             , a.udgd_yn
             , a.bldg_strc_cd
             , a.roof_shpe_cd
             , a.rm_cn
             , to_char(a.updt_date, 'yyyymmdd') as last_updt_date
          from c##chan.tb_nllp_acb a
         where a.sgb_cd = #{sgbCd}
           and a.nllp_acb_se_cd = #{nllpAcbSeCd}
        <if test="nllpAcbNo != '' and nllpAcbNo != null">
           and a.nllp_acb_no = #{nllpAcbNo}
        </if>
        <if test="lgoCd != '' and lgoCd != null">
           and a.lgo_cd = #{lgoCd}
        </if>
        <if test="stdgCd != '' and stdgCd != null">
           and a.stdg_cd = #{stdgCd}
        </if>
        <if test="roadNmCd != '' and roadNmCd != null">
           and a.road_nm_cd = #{roadNmCd}
        </if>
    </select>
    <!--기초자료토지 상세조회-->
    <select id="findNllpLandInfo" parameterType="com.rg.nllp.operation.vo.NllpVO" resultType="com.rg.nllp.operation.vo.NllpDVO">
        select a.sgb_cd
             , a.nllp_acb_key
             , a.nllp_acb_no
             , a.nllp_acb_se_cd
             , a.lgo_cd
             , a.lvy_trgt_nm
             , a.land_ar
             , a.oalp
             , a.oalp_yr
             , a.lotno_road_addr_se_cd
             , a.zip
             , a.stdg_cd
             , a.lotno_bac_addr
             , a.lotno_daddr
             , a.mtn_se_cd
             , a.mno
             , a.sno
             , a.road_nm_cd
             , a.road_nm_bac_addr
             , a.road_nm_daddr
             , a.udgd_yn
             , a.bmno
             , a.bsno
             , a.spcl_dg
             , a.spcl_ho
             , a.ldcg_cd
             , a.rm_cn
             , a.init_user_id
             , a.init_date
             , a.updt_user_id
             , a.updt_date
          from c##chan.tb_nllp_acb a
         where a.sgb_cd = #{sgbCd}
           and a.nllp_acb_key = #{nllpAcbKey}
    </select>
    <!--기초자료건물 상세조회-->
    <select id="findNllpBldgInfo" parameterType="com.rg.nllp.operation.vo.NllpVO" resultType="com.rg.nllp.operation.vo.NllpDVO">
        select a.sgb_cd
             , a.nllp_acb_key
             , a.nllp_acb_no
             , a.nllp_acb_se_cd
             , a.lgo_cd
             , a.lvy_trgt_nm
             , a.bldg_ar
             , a.oalp
             , a.oalp_yr
             , a.std_amt
             , a.std_yr
             , a.lotno_road_addr_se_cd
             , a.zip
             , a.stdg_cd
             , a.lotno_bac_addr
             , a.lotno_daddr
             , a.mtn_se_cd
             , a.mno
             , a.sno
             , a.road_nm_cd
             , a.road_nm_bac_addr
             , a.road_nm_daddr
             , a.udgd_yn
             , a.bmno
             , a.bsno
             , a.spcl_dg
             , a.spcl_ho
             , a.bldg_strc_cd
             , a.roof_shpe_cd
             , a.rm_cn
             , a.init_user_id
             , a.init_date
             , a.updt_user_id
             , a.updt_date
        from c##chan.tb_nllp_acb a
        where a.sgb_cd = #{sgbCd}
          and a.nllp_acb_key = #{nllpAcbKey}
    </select>
    <!--기초자료 등록-->
    <insert id="instNllpInfo" parameterType="com.rg.nllp.operation.vo.NllpVO">
        <selectKey resultType="string" keyProperty="nllpAcbKey" order="BEFORE">
            select c##chan.fn_crt_acb_key('nllpAcb')
              from dual
        </selectKey>
        insert
          into c##chan.tb_nllp_acb(
               sgb_cd
             , nllp_acb_key
             , nllp_acb_no
             , nllp_acb_se_cd
             , lgo_cd
             , lvy_trgt_nm
             , land_ar
             , bldg_ar
             , oalp
             , oalp_yr
             , std_amt
             , std_yr
             , lotno_road_addr_se_cd
             , zip
             , stdg_cd
             , lotno_bac_addr
             , lotno_daddr
             , mtn_se_cd
             , mno
             , sno
             , road_nm_cd
             , road_nm_bac_addr
             , road_nm_daddr
             , udgd_yn
             , bmno
             , bsno
             , spcl_dg
             , spcl_ho
             , ldcg_cd
             , bldg_strc_cd
             , roof_shpe_cd
             , rm_cn
             , init_user_id
             , init_date
             , updt_user_id
             , updt_date
          )
          values (
               #{sgbCd}
             , #{nllpAcbKey}
             , (select lpad(nvl(max(t1.nllp_acb_no), 0)+1, 6, '0')
                  from c##chan.tb_nllp_acb t1
                 where t1.sgb_cd = #{sgbCd}
                   and t1.nllp_acb_se_cd = #{nllpAcbSeCd}
                   and t1.lgo_cd = #{lgoCd})
             , #{nllpAcbSeCd}
             , #{lgoCd}
             , #{lvyTrgtNm}
             , nvl(#{landAr}, 0)
             , nvl(#{bldgAr}, 0)
             , nvl(#{oalp}, 0)
             , #{oalpYr}
             , nvl(#{stdAmt}, 0)
             , #{stdYr}
             , nvl(#{lotnoRoadAddrSeCd}, '01')
             , #{zip}
             , #{stdgCd}
             , #{lotnoBacAddr}
             , #{lotnoDaddr}
             , #{mtnSeCd}
             , #{mno}
             , #{sno}
             , #{roadNmCd}
             , #{roadNmBacAddr}
             , #{roadNmDaddr}
             , #{udgdYn}
             , #{bmno}
             , #{bsno}
             , #{spclDg}
             , #{spclHo}
             , #{ldcgCd}
             , #{bldgStrcCd}
             , #{roofShpeCd}
             , #{rmCn}
             , #{initUserId}
             , sysdate
             , #{updtUserId}
             , sysdate
          )
    </insert>
</mapper>