<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rg.nllp.operation.mapper.NllpMapper">

    <!--재산자료 목록조회-->
    <select id="findNllpList" parameterType="nllpVO" resultType="nllpDVO">
        select count(*) over() as tot_cnt
             , a.nllp_acb_key
             , a.nllp_acb_no
             , fn_get_code_name('biz0002', a.lgo_cd) as lgo_nm
             , a.nllp_nm
             , nvl(a.land_ar, 0) as land_ar
             , nvl(a.oalp, 0) as oalp
             , a.oalp_yr
             , a.zip
             , a.stdg_cd
             , trim(a.lotno_bac_addr) || ' ' || trim(a.lotno_daddr) as lotno_al_addr
             , fn_get_code_name('biz0001', a.mtn_se_cd) as mtn_se_nm
             , a.mno
             , a.sno
             , a.ldcg_cd
             , a.rm_cn
          from tb_nllp_acb a
         where a.del_yn = 'N'
        <if test="nllpAcbNoFrom != '' and nllpAcbNoFrom != null">
           and a.nllp_acb_no <![CDATA[ >= ]]> #{nllpAcbNoFrom}
        </if>
        <if test="nllpAcbNoTo != '' and nllpAcbNoTo != null">
            and a.nllp_acb_no <![CDATA[ <= ]]> #{nllpAcbNoTo}
        </if>
        <if test="landAr != '' and landAr != null">
            and a.land_ar = #{landAr}
        </if>
        <if test="lotnoBacAddr != '' and lotnoBacAddr != null">
            and a.lotno_bac_addr = #{lotnoBacAddr}
        </if>
        <if test="lotnoDaddr != '' and lotnoDaddr != null">
            and a.lotno_daddr = #{lotnoDaddr}
        </if>
        <if test="mtnSeCd != '' and mtnSeCd != null">
            and a.mtn_se_cd = #{mtnSeCd}
        </if>
        <if test="mno != '' and mno != null">
            and a.mno = #{mno}
        </if>
        <if test="sno != '' and sno != null">
            and a.sno = #{sno}
        </if>
      order by a.nllp_acb_no asc
    </select>

    <!--재산자료 등록-->
    <insert id="instNllpInfo" parameterType="nllpInstVO">
        <selectKey resultType="string" keyProperty="nllpAcbKey" order="BEFORE">
            select fn_crt_acb_key('nllpAcb')
            from dual
        </selectKey>
        insert
        into tb_nllp_acb(
        nllp_acb_key
        , nllp_acb_no
        , lgo_cd
        , nllp_nm
        , land_ar
        , oalp
        , oalp_yr
        , zip
        , stdg_cd
        , lotno_bac_addr
        , lotno_daddr
        , mtn_se_cd
        , mno
        , sno
        , spcl_dg
        , spcl_ho
        , ldcg_cd
        , rm_cn
        , init_user_id
        , init_date
        , updt_user_id
        , updt_date
        )
        values (
        #{nllpAcbKey}
        , (select lpad(nvl(max(t1.nllp_acb_no), 0)+1, 6, '0')
        from tb_nllp_acb t1)
        , #{lgoCd}
        , #{nllpNm}
        , nvl(#{landAr}, 0)
        , nvl(#{oalp}, 0)
        , #{oalpYr}
        , #{zip}
        , #{stdgCd}
        , #{lotnoBacAddr}
        , #{lotnoDaddr}
        , #{mtnSeCd}
        , #{mno}
        , #{sno}
        , #{spclDg}
        , #{spclHo}
        , #{ldcgCd}
        , #{rmCn}
        , #{initUserId}
        , sysdate
        , #{updtUserId}
        , sysdate
        )
    </insert>

    <!--기초자료토지 상세조회-->
    <select id="findNllpInfo" parameterType="nllpVO" resultType="nllpDVO">
        select a.nllp_acb_key
             , a.nllp_acb_no
             , a.lgo_cd
             , a.nllp_nm
             , nvl(a.land_ar, 0) as land_ar
             , nvl(a.oalp, 0) as oalp
             , a.oalp_yr
             , a.zip
             , a.stdg_cd
             , a.lotno_bac_addr
             , a.lotno_daddr
             , a.mtn_se_cd
             , a.mno
             , a.sno
             , a.spcl_dg
             , a.spcl_ho
             , a.ldcg_cd
             , a.rm_cn
             , a.init_user_id
             , a.init_date
             , a.updt_user_id
             , a.updt_date
          from tb_nllp_acb a
         where a.nllp_acb_key = #{nllpAcbKey}
           and a.del_yn = 'N'
    </select>

    <!--기초자료 수정-->
    <update id="updtNllpInfo" parameterType="nllpUpdtVO">
        update tb_nllp_acb
           set lotno_bac_addr = #{lotnoBacAddr}
             , lotno_daddr = #{lotnoDaddr}
             , mtn_se_cd = #{mtnSeCd}
             , mno = #{mno}
             , sno = #{sno}
             , land_ar = nvl(#{landAr}, 0)
             , oalp_yr = #{oalpYr}
             , oalp = nvl(#{oalp}, 0)
             , lgo_cd = #{lgoCd}
             , ldcg_cd = #{ldcgCd}
             , nllp_nm = #{nllpNm}
             , rm_cn = #{rmCn}
             , updt_user_id = #{updtUserId}
             , updt_date = sysdate
         where nllp_acb_key = #{nllpAcbKey}
    </update>

    <!--재산자료 삭제-->
    <update id="deltNllpInfo" parameterType="nllpVO">
        update tb_nllp_acb
           set del_yn = 'Y'
         where nllp_acb_key = #{nllpAcbKey}
    </update>

</mapper>