<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header" />
</head>
<body class="sb-nav-fixed">
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div id="layoutSidenav">
    <div th:replace="fragments/sideBar :: sideBar"/>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="">업무처리</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/main}">Main</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);" onclick="$('#collapseLayouts').slideToggle();">재산자료관리</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/nllp/findNllpList}">목록조회</a></li>
                    <li class="breadcrumb-item active">신규등록</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <form th:object="${nllpInfo}" method="post">
                            <div class="row">
                                <div class="col-md-6 d-md-inline">
                                    <button type="button" id="btnNllpInfoInstInit" class="btn btn-secondary btn-sm">초기화</button>
                                </div>
                                <div class="col-md-6 d-md-inline text-end">
                                    <button type="submit" id="btnNllpInfoInst" th:formaction="@{/nllp/instNllpInfo}" class="btn btn-primary btn-sm">저장</button>
                                    <a type="text" id="btnNllpInfoInstClose" th:href="@{/nllp/moveNllpList}" class="btn btn-primary btn-sm">닫기</a>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="form-group col-md-3">
                                    <label th:for="nllpAcbNo" class="d-inline">재산번호</label>
                                    <input type="text" value="000000" class="form-control fs-s d-md-inline" readonly/>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="form-group col-md-6">
                                    <label th:for="lotnoBacAddr">기본주소</label>
                                    <input type="text" th:field="*{lotnoBacAddr}" class="form-control fs-s" placeholder="기본주소를 입력하세요"
                                           th:classappend="${#fields.hasErrors('lotnoBacAddr')} ? 'border-danger'"/>
                                    <p th:if="${#fields.hasErrors('lotnoBacAddr')}" th:errors="*{lotnoBacAddr}" class="text-danger fs-s">Incorrect data</p>
                                </div>
                                <div class="form-group col-md-3">
                                    <label th:for="mtnSeCd">산</label>
                                    <select th:field="*{mtnSeCd}" class="form-select form-select-sm">
                                        <option th:each="code : *{codes}" th:if="${code.cdId == 'biz0001'}"
                                                th:value="${code.dtlCdId}" th:text="${code.dtlCdNm}">code</option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('mtnSeCd')}" th:errors="*{mtnSeCd}" class="text-danger fs-s">Incorrect data</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="form-group col-md-6">
                                    <label th:for="lotnoDaddr">상세주소</label>
                                    <input type="text" th:field="*{lotnoDaddr}" class="form-control fs-s" placeholder="상세주소를 입력하세요"
                                    th:classappend="${#fields.hasErrors('lotnoDaddr')} ? 'border-danger'"/>
                                    <p th:if="${#fields.hasErrors('lotnoDaddr')}" th:errors="*{lotnoDaddr}" class="text-danger fs-s">Incorrect data</p>
                                </div>
                                <div class="form-group col-md-3">
                                    <label th:for="mno">본번</label>
                                    <input type="text" th:field="*{mno}" class="form-control fs-s" placeholder="본번을 입력하세요"
                                           th:classappend="${#fields.hasErrors('mno')} ? 'border-danger'"/>
                                    <p th:if="${#fields.hasErrors('mno')}" th:errors="*{mno}" class="text-danger fs-s">Incorrect data</p>
                                </div>
                                <div class="form-group col-md-3">
                                    <label th:for="sno">부번</label>
                                    <input type="text" th:field="*{sno}" class="form-control fs-s" placeholder="부번을 입력하세요"
                                           th:classappend="${#fields.hasErrors('sno')} ? 'border-danger'"/>
                                    <p th:if="${#fields.hasErrors('sno')}" th:errors="*{sno}" class="text-danger fs-s">Incorrect data</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="form-group col-md-3">
                                    <label th:for="landAr">면적</label>
                                    <input type="number" th:field="*{landAr}" class="form-control fs-s" placeholder="면적을 입력하세요"
                                           th:classappend="${#fields.hasErrors('landAr')} ? 'border-danger'"/>
                                    <p th:if="${#fields.hasErrors('landAr')}" th:errors="*{landAr}" class="text-danger fs-s">Incorrect data</p>
                                </div>
                                <div class="form-group col-md-3">
                                    <label th:for="oalpYr">공시지가연도</label>
                                    <input type="number" th:field="*{oalpYr}" class="form-control fs-s" placeholder="공시지가연도를 입력하세요"
                                           th:classappend="${#fields.hasErrors('oalpYr')} ? 'border-danger'"/>
                                    <p th:if="${#fields.hasErrors('oalpYr')}" th:errors="*{oalpYr}" class="text-danger fs-s">Incorrect data</p>
                                </div>
                                <div class="form-group col-md-3">
                                    <label th:for="oalp">공시지가</label>
                                    <input type="number" th:field="*{oalp}" class="form-control fs-s" placeholder="공시지가를 입력하세요"
                                           th:classappend="${#fields.hasErrors('oalp')} ? 'border-danger'"/>
                                    <p th:if="${#fields.hasErrors('oalp')}" th:errors="*{oalp}" class="text-danger fs-s">Incorrect data</p>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>공시지가조회</label>
                                    <button type="button" class="btn form-control fs-s btn-success">공시지가</button>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="form-group col-md-3">
                                    <label th:for="lgoCd">소관청</label>
                                    <select th:field="*{lgoCd}" class="form-select form-select-sm">
                                        <option th:each="code : *{codes}" th:if="${code.cdId == 'biz0002'}"
                                                th:value="${code.dtlCdId}" th:text="${code.dtlCdNm}">code</option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('lgoCd')}" th:errors="*{lgoCd}" class="text-danger fs-s">Incorrect data</p>
                                </div>
                                <div class="form-group col-md-3">
                                    <label th:for="ldcgCd">지목</label>
                                    <select th:field="*{ldcgCd}" class="form-select form-select-sm">
                                        <option th:each="code : *{codes}" th:if="${code.cdId == 'biz0003'}"
                                                th:value="${code.dtlCdId}" th:text="${code.dtlCdNm}">code</option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('ldcgCd')}" th:errors="*{ldcgCd}" class="text-danger fs-s">Incorrect data</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="form-group col-md-12">
                                    <label th:for="nllpNm">재산명</label>
                                    <input type="text" th:field="*{nllpNm}" class="form-control fs-s" placeholder="재산명을 입력하세요"
                                           th:classappend="${#fields.hasErrors('nllpNm')} ? 'border-danger'"/>
                                    <p th:if="${#fields.hasErrors('nllpNm')}" th:errors="*{nllpNm}" class="text-danger fs-s">Incorrect data</p>
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="form-group col-md-12">
                                    <label th:for="rmCn">비고내용</label>
                                    <textarea th:field="*{rmCn}" class="form-control fs-s" placeholder="비고내용을 입력하세요" aria-label="With textarea"
                                              th:classappend="${#fields.hasErrors('rmCn')} ? 'border-danger'"/>
                                    <p th:if="${#fields.hasErrors('rmCn')}" th:errors="*{rmCn}" class="text-danger fs-s">Incorrect data</p>
                                </div>
                            </div>
                            <input type="hidden" th:name="initUserId" th:value="${session.userId}">
                            <input type="hidden" th:name="updtUserId" th:value="${session.userId}">
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="fragments/footer :: footer"/>
    </div>
</div>
</body>
</html>