<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rg.nllp.common.mapper.UserMapper">
    <!--사용자체크-->
    <select id="findUserInfo" parameterType="loginVO" resultType="string">
        SELECT user_pw
          from tb_user_info
         where user_id = #{userId}
    </select>

    <!--회원가입 처리-->
    <insert id="instUserInfo" parameterType="registerVO">
        insert
        into tb_user_info(
             user_key
           , user_id
           , user_pw
           , user_nm
           , init_user_id
           , init_date
           , updt_user_id
           , updt_date
        )
        select lpad(sq_user_key.nextval, 11, '0')
             , #{userId}
             , #{userPw}
             , #{userNm}
             , 'admin@admin.com'
             , sysdate
             , 'admin@admin.com'
             , sysdate
        from dual
        where not exists (select 1
                            from tb_user_info
                           where user_Id = #{userId})
    </insert>

</mapper>