<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped" style="font-size: x-small">
            <thead>
            <tr>
                <th>재산번호</th>
                <th>주소</th>
                <th>면적</th>
                <th>공시지가</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="nllpInfo : ${nllpList}">
                <td th:text="${nllpInfo.nllpAcbNo}"></td>
                <td th:text="${nllpInfo.lotnoAlAddr}"></td>
                <td th:text="${nllpInfo.landAr}"></td>
                <td th:text="${nllpInfo.oalp}"></td>
                <td>
                    <a href="#" th:href="@{/nllp/nllpInfo/{id} (id=${nllpInfo.nllpAcbKey})}" class="btn btn-secondary" role="button" style="font-size: x-small">상세</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>