<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="layoutSidenav_nav" th:fragment="sideBar">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">나의메뉴</div>
                <a class="nav-link" th:href="@{/main}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Main
                </a>
                <div class="sb-sidenav-menu-heading">업무처리</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    재산자료관리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{/nllp/findNllpList}">목록조회</a>
                        <a class="nav-link" href="layout-sidenav-light.html">엑셀일괄등록</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    계약자료관리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="layout-static.html">목록조회</a>
                        <a class="nav-link" href="layout-sidenav-light.html">엑셀일괄등록</a>
                        <a class="nav-link" href="layout-sidenav-light.html">일괄처리</a>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">그외업무</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseElses" aria-expanded="false" aria-controls="collapseElses">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    연계처리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseElses" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="layout-static.html">RestFul</a>
                        <a class="nav-link" href="layout-sidenav-light.html">FILE2FILE</a>
                        <a class="nav-link" href="layout-sidenav-light.html">DB2DB</a>
                    </nav>
                </div>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    배치처리
                </a>
                <div class="sb-sidenav-menu-heading">시스템관리</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCode" aria-expanded="false" aria-controls="collapseCode">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    코드관리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseCode" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{/code/moveCodeList}">공통코드</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">사용자계정 :</div>
            <span th:text="${session.userId}"></span>
        </div>
    </nav>
</div>
</html>